// Mixins

@mixin flex-center {
  @include flex;
  @include flex-justify(center);
  @include flex-align-items(center);
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-items($position) {
  -webkit-box-align: $position;
  -moz-box-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}

@mixin flex-align($position) {
  -webkit-align-content: $position;
  align-content: $position;
}

@mixin flex-justify($position) {
  -webkit-box-pack: $position;
  -moz-box-pack: $position;
  -ms-flex-pack: $position;
  -webkit-justify-content: $position;
  justify-content: $position;
}

@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin button($color) {
  background: $color;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 2px;
  border: none;
  display: block;
  margin: 8px 0;
  width: 100%;
  font-size: 20px;
  &:hover {
    background: darken($color, 8%);
  }
}

// Variables

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  #top-nav {
    @include flex-center;
    #toggle-navigation {
      &:checked {
        &+ #menu-links {
          left: 0;
          display: block;
        }
      }
    }
    #menu-links {
      position: relative;
      left: -100%;
    }
  }
}

// Body

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @include flex;
  @include flex-flow(row wrap);
  font-family: 'Oswald';
  #character-container {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #eee;
    outline: none;
    padding: 32px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    &:empty {
      &:before {
        color: #999;
        content: attr(data-placeholder);
      }
      &:focus {
        &:before {
          content: '';
        }
      }
    }
  }
  #text-report {
    width: 50%;
    @include flex-center;
    font-size: 36px;
    #text-data {
      min-width: 290px;
      .label {
        font-weight: 400;
        text-transform: uppercase;
        color: #999;
      }
      .counter {
        font-weight: 700;
        color: #222;
      }
      #social-icons {
        box-sizing: border-box;
        padding: 12px 0;
        @include flex;
        a {
          text-decoration: none;
          color: #222;
          display: block;
          .icon {
            display: block;
            box-sizing: border-box;
            background: rgb(0, 172, 237);
            color: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 8px 0 0;
            @include flex-center;
            font-size: 24px;
            opacity: .8;
            transition: opacity 50ms ease-in-out;
            &:hover {
              opacity: 1;
            }
          }
          .ion-social-twitter {
            background: rgb(0, 172, 237);
          }
          .ion-social-github {
            background: #333;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  #wrapper {
    #character-container {
      width: 100%;
      min-height: 50%;
    }
    #text-report {
      height: 240px;
      width: 100%;
      font-size: 24px;
    }
  }
}
